<h1 class="titulo">Editar usuário</h1>

<div class="form-container">
  <%= form_with model: @user, class: "form" do |f| %>

    <div class="form-group">
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class: "input" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, class: "input" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>